@charset "UTF-8";
/*===============Fonts===============*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/*===============Vars===============*/
:root {
  --color-primary: #0b132a;
  --color-primary-dark: #0d1025;
  --color-secondary: #4f5665;
  --color-red: #f53838;
  --color-red-hover: #f31818;
  --color-red-active: #de0b0b;
  --color-red-light: #ffecec;
  --color-green: #2fab73;
  --color-white: #fff;
  --color-gray: #f8f8f8;
  --color-gray-border: #dddddd;
  --color-gray-light: #eeeff2;
}

/*===============Imports===============*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/
/*===============Global styles===============*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}
body.is-fixed {
  overflow-y: hidden;
  position: fixed;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: inline-flex;
  align-items: center;
}
.logo__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: var(--color-primary);
  padding-left: 10px;
}
.logo__text span {
  text-transform: uppercase;
  font-weight: 700;
}

.text {
  font-size: 1rem;
  line-height: 188%;
  color: var(--color-secondary);
}
.text_dark {
  color: var(--color-primary);
}
.text_small {
  font-size: 0.875rem;
}
.text span {
  font-weight: 500;
}

.primary-title {
  font-size: 2.1875rem;
  line-height: 143%;
  color: var(--color-primary);
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .primary-title {
    font-size: 1.875rem;
  }
}
@media (max-width: 767.98px) {
  .primary-title {
    font-size: 1.75rem;
  }
}
@media (max-width: 479.98px) {
  .primary-title {
    font-size: 1.5rem;
  }
}

.secondary-title {
  font-size: 1.125rem;
  line-height: 167%;
  color: var(--color-primary);
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .secondary-title {
    font-size: 1rem;
  }
}

.primary-btn {
  font-size: 1rem;
  line-height: 156%;
  color: var(--color-white);
  font-weight: 700;
  min-height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color-red);
  padding: 5px;
  width: 100%;
  max-width: 250px;
  position: relative;
  transition: background-color 0.2s linear;
}
.primary-btn::before {
  content: "";
  position: absolute;
  min-height: 60px;
  width: 84%;
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  border-radius: 10px;
  bottom: -25px;
  right: 9px;
  z-index: -1;
}
.primary-btn:hover {
  background-color: var(--color-red-hover);
}
.primary-btn:active {
  background-color: var(--color-red-active);
}
@media (max-width: 424.98px) {
  .primary-btn {
    max-width: 100%;
  }
}

.secondary-btn {
  min-height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 62px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}
.secondary-btn span {
  transition: color 0.2s linear;
  position: relative;
  z-index: 2;
  font-size: 1rem;
  line-height: 119%;
  color: var(--color-red);
  font-weight: 700;
}
.secondary-btn_header {
  padding: 5px 44px;
}
.secondary-btn_header span {
  font-weight: 500;
}
.secondary-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--color-red);
  z-index: 1;
  transition: width 0.2s linear, height 0.2s linear, background-color 0.2s linear;
  border-radius: 50px;
}
.secondary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 50px;
  border: 2px solid var(--color-red);
}
.secondary-btn:hover span {
  color: var(--color-white);
}
.secondary-btn:hover::before {
  width: 200px;
  height: 200px;
}
.secondary-btn:active::after {
  border: 2px solid var(--color-red-active);
}
.secondary-btn:active::before {
  background-color: var(--color-red-active);
}

.text-block {
  text-align: center;
}
.text-block > *:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .text-block > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
.text-block_left {
  text-align: left;
}

/*===============Header===============*/
.header__body {
  padding: 50px 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .header__body {
    padding: 25px 0;
  }
}
.header__content {
  width: 100%;
}
.header__content.is-active {
  background-color: rgba(245, 56, 56, 0.5);
  visibility: visible;
}
@media (max-width: 479.98px) {
  .header__content.is-active {
    visibility: visible;
    background-color: transparent;
  }
}
@media (max-width: 767.98px) {
  .header__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: transparent;
    visibility: hidden;
    transition: background-color 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
}
.header__burger {
  margin-right: -5px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar.is-active {
  transform: translateX(0);
}
@media (max-width: 767.98px) {
  .navbar {
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: var(--color-white);
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 320px;
    padding: 25px;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    z-index: 3;
  }
}
@media (max-width: 479.98px) {
  .navbar {
    width: 100%;
  }
}
.navbar__header {
  display: none;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767.98px) {
  .navbar__header {
    display: inline-flex;
    margin-bottom: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-red);
  }
}
.navbar__cross {
  background-color: transparent;
  padding: 10px;
  margin-right: -10px;
}
.navbar__list {
  display: flex;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .navbar__list {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 40px;
  }
}
.navbar__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 991.98px) {
  .navbar__item:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .navbar__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.navbar__link {
  font-size: 1rem;
  line-height: 119%;
  color: var(--color-secondary);
  position: relative;
  padding-bottom: 4px;
  transition: color 0.2s linear;
}
.navbar__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color-red);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  transition: width 0.2s linear;
}
.navbar__link:hover {
  color: var(--color-red);
}
.navbar__link:hover::after {
  width: 80%;
}
@media (max-width: 767.98px) {
  .navbar__link {
    font-size: 1.25rem;
  }
}
.navbar__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .navbar__buttons {
    gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .navbar__buttons {
    margin-left: 0;
  }
}
.navbar__sign-in {
  font-weight: 500;
  font-size: 1rem;
  line-height: 119%;
  color: var(--color-primary);
  transition: color 0.2s linear;
}
.navbar__sign-in:hover {
  color: var(--color-secondary);
}

.burger {
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
@media (max-width: 767.98px) {
  .burger {
    display: inline-block;
  }
}
.burger__box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}
.burger__inner {
  top: 50%;
  display: block;
}
.burger__inner::before, .burger__inner::after {
  display: block;
  content: "";
}
.burger__inner, .burger__inner::before, .burger__inner::after {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--color-primary);
}
.burger__inner::before {
  top: -9px;
}
.burger__inner::after {
  bottom: -9px;
}

/*===============Hero===============*/
.hero {
  padding: 33px 0 50px;
}
@media (max-width: 767.98px) {
  .hero {
    padding: 25px 0 30px;
  }
}
.hero__top {
  margin-bottom: 103px;
}
@media (max-width: 991.98px) {
  .hero__top {
    margin-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .hero__top {
    margin-bottom: 40px;
  }
}

.top-hero {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .top-hero {
    flex-wrap: wrap;
  }
}
.top-hero__content {
  flex: 0 1 50%;
  padding-right: 20px;
}
@media (max-width: 767.98px) {
  .top-hero__content {
    flex: 0 1 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
}
.top-hero__title {
  font-size: 3.125rem;
  line-height: 140%;
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .top-hero__title {
    font-size: 2.625rem;
  }
}
@media (max-width: 767.98px) {
  .top-hero__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 419.98px) {
  .top-hero__title {
    font-size: 1.75rem;
  }
}
.top-hero__title span {
  font-weight: 700;
}
.top-hero__text {
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .top-hero__text {
    margin-bottom: 35px;
  }
}
@media (max-width: 767.98px) {
  .top-hero__text {
    margin-bottom: 20px;
  }
}
.top-hero__media {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .top-hero__media {
    flex: 0 1 100%;
  }
}
.top-hero__media img {
  max-width: 100%;
}

.bottom-hero {
  background: var(--color-white);
  border-radius: 10px;
  position: relative;
  padding: 37px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
@media (max-width: 767.98px) {
  .bottom-hero {
    padding: 20px;
  }
}
@media (max-width: 379.98px) {
  .bottom-hero {
    grid-template-columns: repeat(1, -webkit-max-content);
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
  }
}
.bottom-hero::before {
  content: "";
  position: absolute;
  background-color: var(--color-primary-dark);
  opacity: 0.06;
  filter: blur(57px);
  border-radius: 10px;
  min-height: 190px;
  width: 93%;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.item-bottom-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
}
@media (min-width: 768px) {
  .item-bottom-hero:not(:last-child) {
    border-right: 2px solid var(--color-gray-light);
  }
}
@media (max-width: 767.98px) {
  .item-bottom-hero {
    padding: 20px 0;
  }
}
@media (max-width: 520.98px) and (min-width: 380px) {
  .item-bottom-hero:last-child {
    grid-column: 1/3;
  }
}
@media (max-width: 379.98px) {
  .item-bottom-hero {
    justify-content: start;
  }
}
.item-bottom-hero__img {
  width: 55px;
  height: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-red-light);
  border-radius: 50%;
}
.item-bottom-hero__content {
  padding-left: 36px;
}
.item-bottom-hero__content > *:not(:last-child) {
  margin-bottom: 5px;
}
@media (max-width: 767.98px) {
  .item-bottom-hero__content > *:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .item-bottom-hero__content {
    padding-left: 10px;
  }
}
.item-bottom-hero__num {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 120%;
  color: var(--color-primary);
}
@media (max-width: 767.98px) {
  .item-bottom-hero__num {
    font-size: 1.25rem;
  }
}
.item-bottom-hero__text {
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--color-secondary);
}
@media (max-width: 767.98px) {
  .item-bottom-hero__text {
    font-size: 0.875rem;
  }
}

/*===============Features===============*/
.features__body {
  padding: 50px 0 130px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 991.98px) {
  .features__body {
    padding: 40px 0 90px;
  }
}
@media (max-width: 767.98px) {
  .features__body {
    padding: 25px 0 40px;
    flex-wrap: wrap;
  }
}
.features__media {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
}
.features__media img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .features__media {
    flex: 0 1 100%;
    margin-bottom: 20px;
  }
}
.features__content {
  flex: 0 1 50%;
  max-width: 425px;
  padding-left: 20px;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .features__content {
    flex: 0 1 100%;
    padding-left: 0;
    margin: 0 auto;
  }
}

.content-features__text-block {
  margin-bottom: 20px;
}
.content-features__item {
  padding-left: 32px;
  position: relative;
}
.content-features__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .content-features__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.content-features__item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url("../images/features/features-check-icon.svg") center no-repeat;
  left: 0;
  top: 3px;
}

/*===============Pricing===============*/
.pricing {
  background-color: var(--color-gray);
}
.pricing__body {
  padding: 80px 0 75px;
}
@media (max-width: 991.98px) {
  .pricing__body {
    padding: 60px 0;
  }
}
@media (max-width: 767.98px) {
  .pricing__body {
    padding: 30px 0;
  }
}
.pricing__text-block {
  max-width: 555px;
  margin: 0 auto 60px;
}
@media (max-width: 991.98px) {
  .pricing__text-block {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .pricing__text-block {
    margin-bottom: 25px;
  }
}
.pricing__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 20px;
}
@media (max-width: 991.98px) {
  .pricing__grid {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.item-pricing {
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 50px;
}
@media (max-width: 991.98px) {
  .item-pricing {
    padding: 50px 20px 25px;
  }
}
@media (max-width: 767.98px) {
  .item-pricing {
    padding: 25px 20px;
  }
}
.item-pricing__media {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .item-pricing__media {
    margin-bottom: 15px;
  }
}
.item-pricing__media img {
  max-width: 100%;
}
.item-pricing__content {
  flex: 1 1 auto;
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .item-pricing__content {
    margin-bottom: 35px;
  }
}
.item-pricing__title {
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .item-pricing__title {
    margin-bottom: 15px;
  }
}
.item-pricing__list > *:not(:last-child) {
  margin-bottom: 10px;
}
.item-pricing__item {
  position: relative;
  padding-left: 38px;
}
.item-pricing__item::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 9px;
  background: url("../images/pricing/pricing-check-icon.svg") center no-repeat;
  left: 0;
  top: 8px;
}
.item-pricing__bottom {
  text-align: center;
}
.item-pricing__price {
  font-size: 1.5625rem;
  line-height: 120%;
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 20px;
}
.item-pricing__price span {
  font-weight: 400;
  color: var(--color-secondary);
}

/*===============Network===============*/
.network__body {
  padding: 75px 0 35px;
}
@media (max-width: 991.98px) {
  .network__body {
    padding: 55px 0 35px;
  }
}
@media (max-width: 767.98px) {
  .network__body {
    padding: 30px 0;
  }
}
.network__text-block {
  max-width: 555px;
  margin: 0 auto 155px;
}
.network__text-block .text-block__title {
  max-width: 370px;
  margin: 0 auto 20px;
}
@media (max-width: 767.98px) {
  .network__text-block .text-block__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 991.98px) {
  .network__text-block {
    margin-bottom: 120px;
  }
}
@media (max-width: 767.98px) {
  .network__text-block {
    margin-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .network__text-block {
    margin-bottom: 40px;
  }
}
.network__map {
  text-align: center;
  margin-bottom: 110px;
}
@media (max-width: 991.98px) {
  .network__map {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .network__map {
    margin-bottom: 40px;
  }
}
.network__map img {
  max-width: 100%;
}
.network__companies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}